<template name="saving_clientSearch">
    <!--Search input-->
    {{> esInput index="saving_clientSearch" value=data allDocsOnEmpty="true" placeholder="Search client..." class="form-control"}}

    <!--Search List-->
    <dl>
        {{#esEach index="saving_clientSearch"}}
            {{> saving_clientSearchList}}
        {{/esEach}}
    </dl>

    <!--Load more/Pagination-->
    <div align="center">
        {{> esLoadMoreButton index="saving_clientSearch" class="btn btn-primary"}}
        <!--{{> esPagination index="saving_clientSearch"}}-->
    </div>

    <!--No result-->
    {{#ifEsHasNoResults index="saving_clientSearch"}}
        <div class="alert alert-danger" role="alert">No Result !!!</div>
    {{/ifEsHasNoResults}}

    <!--Loading-->
    {{#ifEsIsSearching index="saving_clientSearch"}}
        {{> loading}}
    {{/ifEsIsSearching}}
</template>

<template name="saving_clientSearchList">
    {{#with data}}
        <dt><a href="#" class="item">{{_id}}</a></dt>
        <dd style="border-bottom: 1px solid">
            {{lightbox url=photoUrl title=khName}}
            <!--Acc Date: {{accDate}} |-->
            <!--Currency: {{cpanel_currencyId}} |-->
            Kh Name: {{khName}} |
            En Name: {{enName}} |
            Gender: {{gender}} |
            <!--Saving Officer: {{_staff.name}}-->
        </dd>
    {{/with}}
</template>